form {
    position: relative;
    width: 600px;
    margin: 32px auto 50px auto;
    background-color: var(--background-color);
    padding: 7px;
    border-radius: 7px;
    box-shadow: 0 1px 7px var(--shadow);
}

form input {
    padding: 4px 10px 24px 10px;
    font-weight: 600;
}

form textarea {
    padding: 4px 10px;  
}

form input, textarea {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    resize: none;
    font-family: sans-serif;
    color: var(--mid-grey);
}

form button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 15px;
    bottom: 3px;
    border: none;
    background-color: var(--background-color);
    color: var(--mid-grey);
    cursor: pointer;
    font-weight: 600;
    width: 80px;
    height: 30px;
    border-radius: 3.5px;
    transition: all ease-in-out .2s;
}

form button:hover {
    background-color: var(--light-grey);
}
