* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background-color: #ffffff;
}

:root {
  --background-color: #ffffff;
  --mid-grey: #727272;
  --mid-grey-2: #5f6368;
  --shadow: #808080;
}